/* components/servicios/NuevoServicioModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content-servicios {
  background: #fff;
  padding: 35px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  z-index: 1100;


}


.modal-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
  text-align: center;
}

.modal-subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.form-group-servicios {
  margin-bottom: 15px;

}

.form-group-servicios label {
  display: block;
  font-size: 1em;
  color: black;
}

.form-group-servicios input,
.form-group-servicios textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: black;
}

.modal-actions {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.btn-cerrar {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-guardar {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-cerrar:hover,
.btn-guardar:hover {
  opacity: 0.8;
}

.formulario {
  color: black;
}

.modal-label {
  color: black;
}

.checkbox-group-servicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 2 columnas */
  text-align: center;
  gap: 10px;
  /* Espacio entre items */
  background-color: #eeebeb;
  padding: 15px;
  border-radius: 8px;
  margin-top: 15px;
  font-size: 14px;
  color: #333;
  margin-bottom: 15px;
}

.checkbox-group-title {
  grid-column: 1 / -1;
  margin-bottom: -5px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #444;
}


.btn-guardar-servicio {
  margin: 5px;
  background-color: rgb(42, 163, 42);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  width: 50%;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 2px 4px rgba(2, 2, 2, 0.779);
}

.btn-guardar-servicio:hover {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  /* Efecto sutil de agrandamiento */
}

.btn-guardar-servicio:active {
  transform: scale(0.97);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.btn-cerrar-servicio {
  background-color: #e74d3ceb;
  margin: 5px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  width: 50%;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 2px 4px rgba(2, 2, 2, 0.779);
}

.btn-cerrar-servicio:hover {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  /* Efecto sutil de agrandamiento */
}

.btn-cerrar-servicio:active {
  transform: scale(0.97);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  /* Efecto sutil de agrandamiento */
}





.form-group-servicios {
  text-align: start;

}

.label-servicios {
  text-align: start;
}