/* ServicioModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
}

.modal-form input,
.modal-form textarea {
    width: 100%;
    margin-bottom: 10px;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-cerrar,
.btn-editar {
    padding: 10px;
    border: none;
    cursor: pointer;
}

.btn-cerrar {
    background-color: red;
    color: white;
}

.btn-editar {
    background-color: green;
    color: white;
}

.form-group label{
    color: black;
}