.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}



.login-page h2 {
  margin-bottom: 20px;
}


.titulo{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;  
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 26px;
}

.login-page input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  background-color: rgba(229, 222, 222, 0.95);
  
}


.logo {
  width: 600px;
  margin-left: 50px;
  margin-bottom: 20px;
}




.login-page .error {
  color: #ff6666;
  font-weight: bold;
  text-align: center;
}




.login-form {
  margin-top: 100px;
  margin-left: 90px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  
}






.login-form h2 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: -80px;
}

.btn-ingresar-login {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.3);
  width: 105%;
}

.btn-ingresar-login:active {
  transform: scale(0.97);
  transition: all 0.3s ease-in-out;
  /* 🕳️ efecto "hundido" */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.btn-ingresar-login:hover {
  transition: all 0.3s ease-in-out;
  scale: 1.05;
  /* 🕳️ efecto "hundido" */
  
}

